.IndividualCategoriesPage {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 75px 1.5fr;
  grid-template-areas:
    "mainTitle mainTitle"
    "sideSortBar products";
}

.IndividualCategoriesPage-mainTitle {
  grid-area: mainTitle;
  display: grid;
  place-items: center;
  background: linear-gradient(
    90deg,
    rgb(0, 255, 26) 0%,
    rgb(0, 199, 0) 50%,
    rgba(103, 255, 37, 1) 100%
  );
}

.IndividualCategoriesPage-sideSortBar {
  grid-area: sideSortBar;
  background-color: lightcyan;
}

.IndividualCategoriesPage-sideSortBar-holder {
  position: relative;
  width: auto;
}

.PriceSortHolderButton-Div {
  grid-area: priceSort;
  /* margin-top: 30px; */
  /* display: grid;
  place-items: center; */
  /* background-color: blanchedalmond; */
}

.PriceSortHolderButton {
  width: 100px;
  background-color: #8183ff;
  color: lightcyan;
  padding: 5px;
  border: none;
}

.PriceSortHolder {
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: column;
}

.IndividualCategoriesPage-sideSortBar-priceSort {
  /* grid-area: priceSort; */
  position: relative;
  font-family: Arial;
  margin-bottom: 20px;
}
.IndividualCategoriesPage-sideSortBar-priceSort select {
  background-color: #8183ff;
  color: lightcyan;
  padding: 5px;
  border: none;
}
.IndividualCategoriesPage-sideSortBar-priceSort select:focus {
  outline: none;
  border: none;
}
.IndividualCategoriesPage-sideSortBar-priceSort select:hover {
  background-color: #4b4eff;
}
.IndividualCategoriesPage-sideSortBar-filter {
  display: none;
  grid-area: filter;
}
.hidden-IndividualCategoriesPage-sideSortBar-filter-Div {
  display: none;
}
.IndividualCategoriesPage-sideSortBar-ratingSort {
  display: flex;
  flex-direction: column;
  width: auto;
}

.IndividualCategoriesPage-sideSortBar-ratingSort-button {
  outline: none;
  margin-bottom: 10px;
  background-color: rgba(219, 212, 200, 0);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "SortRating";
  border-width: 1px;
}

.IndividualCategoriesPage-sideSortBar-ratingSort-button-rating {
  grid-area: SortRating;
}

.IndividualCategoriesPage-sideSortBar-ratingSort-button-label {
  grid-area: SortLabel;
}
.IndividualCategoriesPage-sideSortBar-min-maxPrice {
  display: grid;
  max-width: 100%;
  grid-template-columns: 50px 50px 8px 28px;
  grid-template-rows: 16px 5px 19px;
  grid-template-areas:
    "MinMaxPricelabel MinMaxPricelabel MinMaxPricelabel MinMaxPricelabel"
    ". . . ."
    "minimumPrice maximumPrice . goButton";
}
.IndividualCategoriesPage-sideSortBar-min-maxPrice-label {
  grid-area: MinMaxPricelabel;
}
.IndividualCategoriesPage-sideSortBar-min-maxPrice-MinimumPrice {
  grid-area: minimumPrice;
  max-width: 45px;
}
.IndividualCategoriesPage-sideSortBar-min-maxPrice-MaximumPrice {
  grid-area: maximumPrice;
  max-width: 45px;
}
.IndividualCategoriesPage-sideSortBar-min-maxPrice-GoButton {
  grid-area: goButton;
  /* display: grid;
  place-items: center; */
}
#IndividualCategoriesPage-sideSortBar-min-maxPrice-GoButton {
  max-width: 25px;
  font-size: 14px;
  display: grid;
  place-items: center;
}

.IndividualCategoriesPage-productsHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: products;
  min-height: 100vh;
  background-color: rgb(193, 243, 255);
}

.IndividualCategoriesPage-product {
  width: 250px;
  height: fit-content;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 10px 6px -6px #777;
  background-color: #ffffff;
}

.IndividualCategoriesPage-product-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.IndividualCategoriesPage-product-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.IndividualCategoriesPage-product-info-priceHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.IndividualCategoriesPage-product-info-truePrice {
  display: block;
  margin-top: auto;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

.IndividualCategoriesPage-product-info-crossedPrice {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: super;
}

.IndividualCategoriesPage-product-info-percentage {
  font-size: 16px;
  font-style: oblique;
}

.IndividualCategoriesPage-product-buttonHolder {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "addToCart Buy";
  width: 95%;
  padding-bottom: 10px;
}

.IndividualCategoriesPage-product-buttonHolder-addToCart {
  grid-area: addToCart;
  height: 30px;
  background-color: #35affa;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.IndividualCategoriesPage-product-buttonHolder-addToCart:hover {
  background-color: #0275d8;
}

.IndividualCategoriesPage-product-buttonHolder-Buy {
  grid-area: Buy;
  height: 30px;
  background-color: #d9534f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.IndividualCategoriesPage-product-buttonHolder-Buy:hover {
  background-color: #bd2626;
}

@media screen and (max-width: 700px) {
  .IndividualCategoriesPage {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 75px 1.5fr;
    grid-template-areas:
      "mainTitle sideSortBar"
      "products products";
  }
  .IndividualCategoriesPage-sideSortBar-holder {
    height: 75px;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    grid-template-areas: ". priceSort filter";
  }
  .IndividualCategoriesPage-sideSortBar-priceSort {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .hidden-IndividualCategoriesPage-sideSortBar-filter-Div {
    position: fixed;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "starExitButton starRatingMobile";
    top: 0px;
    left: 0px;
    height: calc(50px + 100%);
    width: 100%;
    z-index: 1;
  }
  .hidden-IndividualCategoriesPage-sideSortBar-filter-starRating:first-child {
    margin-left: 10px;
  }
  .hidden-IndividualCategoriesPage-sideSortBar-filter-starRating {
    overflow: scroll;
  }
  .hidden-IndividualCategoriesPage-sideSortBar-filter-exitButton {
    grid-area: starExitButton;
    background-color: lightslategrey;
    filter: opacity(0.7) blur(1px) brightness(30%);
    border: none;
  }
  .hidden-IndividualCategoriesPage-sideSortBar-filter-starRating-resetButton {
    background-color: aquamarine;
    outline: none;
    border-width: 1px;
    border-radius: 3px;
    /* width: 30%; */
    min-width: 133px;
    height: 30px;
  }
  .hidden-IndividualCategoriesPage-sideSortBar-filter-starRating {
    grid-area: starRatingMobile;
    background-color: lightyellow;
  }
  .IndividualCategoriesPage-sideSortBar-filter {
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .hidden-IndividualCategoriesPage-sideSortBar-filter-min-maxPrice {
    display: grid;
    max-width: 100%;
    grid-template-columns: 50px 50px 10px 27px;
    grid-template-rows: 16px 5px 19px;
    grid-template-areas:
      "MinMaxPricelabel MinMaxPricelabel MinMaxPricelabel MinMaxPricelabel"
      ". . . ."
      "minimumPrice maximumPrice . goButton";
  }
  .IndividualCategoriesPage-sideSortBar-ratingSort {
    display: none;
  }
  .IndividualCategoriesPage-sideSortBar-min-maxPrice {
    display: none;
  }
}

@media screen and (max-width: 539px) {
  .IndividualCategoriesPage-product {
    width: 90%;
  }
}
