.productPageMainDiv {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.3fr;
  grid-template-areas: "productImages productInfoContainer checkoutInfo";
  overflow-y: hidden;
  /* grid-template-areas: "slickContainer productInfoContainer checkoutInfo"; */
}
.productPageMainDiv-productImages {
  grid-area: productImages;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-areas: "imagesPicker productImages-image";
  /* height: 100px;
  width: 100px; */
}
.productPageMainDiv-productImages-images {
  grid-area: productImages-image;
  background-color: lightpink;
}
.productPageMainDiv-productImages-images > div > img {
  width: 100%;
}
.productPageMainDiv-productImages-images-image {
  /* height: 100%; */
  width: 100%;
}
.productPageMainDiv-productImages-imagesPicker {
  grid-area: imagesPicker;
  background-color: lightseagreen;
  display: grid;
  place-items: start;
}
.productPageMainDiv-productImages-imagesPicker-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.productPageMainDiv-productImages-imagesPicker-image {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.slick-slider {
  /* this is the slick js container  */
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  /*  */
  grid-area: slickContainer;
  /*  */
  /* display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "slickDots ."; */
}
.slick-list {
  grid-area: slickList;
}

.slick-slide {
  border: 1px solid black;
  display: grid;
  place-items: center;
}
.slick-slide > div {
  width: 100%;
  height: auto;
  /* height:100%; */
}
.productPageMainDiv-imageSlider-images {
  width: 100%;
}
.productPageMainDiv-imageSlider-dots {
  max-width: 100%;
  max-height: 100%;
}
.slick-dots {
  grid-area: slickDots;
}
.productPageMainDiv-imageSlider-dots-image {
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.slick-dots {
  list-style: none;
  width: fit-content;
}
.slick-dots > li {
  width: 40px;
  display: inline;
  margin: 5px;
}
/* products container */
.productPageMainDiv-infoContainer {
  background-color: lightcyan;
  grid-area: productInfoContainer;
}
.productPageMainDiv-infoContainer-div {
  margin: 10px;
}
.productPageMainDiv-infoContainer-div-priceInfo {
  display: flex;
  flex-direction: row;
}
.productPageMainDiv-infoContainer-div-priceInfo-currPrice {
  margin-right: 10px;
  color: red;
}
.productPageMainDiv-infoContainer-div-priceInfo-prevPrice {
  margin-right: 10px;
}
/* checkout */
.productPageMainDiv-checkOutInfo {
  background-color: lightcoral;
  grid-area: checkoutInfo;
}

/* responsive media quries */
@media screen and (max-width: 900px) {
  .productPageMainDiv {
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:
      "productImages productImages"
      "productInfoContainer checkoutInfo";
    /* grid-template-areas:
      "slickContainer slickContainer"
      "productInfoContainer checkoutInfo"; */
  }
  .productPageMainDiv-imageSlider-dots-image {
    width: 30px;
    height: 30px;
  }
  .slick-thumb {
    width: 100%;
    margin: auto;
  }
}
